/******************
TYPER WRITER CSS
******************/
#typewriter { width: 100%; display: inline-block; white-space: nowrap; overflow:hidden; animation: type 4s steps(60) 1;  }
#typewriter:after { animation: blink 0.9s ease-in-out infinite; content: "|";  }
@keyframes blink { from { opacity: 0; } }
@keyframes type { from { width: 0; } }